# Recomendation system base of contend

In [1]:
#libraries
import pandas as pd
import numpy as np
import neattext.functions  as nfx
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#avoid Warnings
import warnings
warnings.filterwarnings('ignore')

### Load data

In [3]:
df = pd.read_csv('data.csv')
df.head(2) #show first 2 rows

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance

In [4]:
#rows and columns
df.shape

(3678, 12)

### Data Claning

##### Drop Duplicated

In [5]:
df = df.drop_duplicates()
df.shape

(3672, 12)

In [7]:
data = df.copy()

In [8]:
#Eliminar palabras del titulo
data['course_title'] = data['course_title'].apply(nfx.remove_shortwords)
data.course_title.head()

0                  Ultimate Investment Banking Course
1    Complete Course Certification Grow Your Practice
2    Financial Modeling Business Analysts Consultants
3              Beginner Financial Analysis Excel 2017
4               Maximize Your Profits Trading Options
Name: course_title, dtype: object

### Data Preprocessing

In [9]:
#concatenar la columa titulo y subject
data['title_subject'] = data['course_title'] + ' ' +  data['subject']
data[['course_title', 'subject', 'title_subject']].head()

,course_title,subject,title_subject
0,Ultimate Investment Banking Course,Business Finance,Ultimate Investment Banking Course Business Fi...
1,Complete Course Certification Grow Your Practice,Business Finance,Complete Course Certification Grow Your Practi...
2,Financial Modeling Business Analysts Consultants,Business Finance,Financial Modeling Business Analysts Consultan...
3,Beginner Financial Analysis Excel 2017,Business Finance,Beginner Financial Analysis Excel 2017 Busines...
4,Maximize Your Profits Trading Options,Business Finance,Maximize Your Profits Trading Options Business...

In [10]:
vectorizer = TfidfVectorizer()

In [11]:
tfid = vectorizer.fit_transform(data['title_subject'])

In [14]:
def search(query, vectorizer):
    query_vec = vectorizer.transform([query])
    similarity = cosine_similarity(query_vec, tfid).flatten()
    indeces = np.argpartition(similarity, -10)[-10:]
    results = data.iloc[indeces]
    results = results.sort_values('num_subscribers',ascending= False)

    return results.head(5)

In [18]:
search('Complete Investment Banking Course 2017', vectorizer)[['course_title', 'subject']]

                                     course_title           subject
40         Complete Financial Analyst Course 2017  Business Finance
3256                              Complete Course   Web Development
39        Complete Investment Banking Course 2017  Business Finance
0              Ultimate Investment Banking Course  Business Finance
137   Intro Investment Banking Modeling Free Book  Business Finance